.mainSection {
    justify-content: flex-start;
}

#cart__body {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#cart__body h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
}
#cart__body .cart__progress {
    width: 30%;
    background: #7373D7;
    opacity: 0.2;
    height: 8px;
    border-radius: 32px;
}
#cart__body .cart__progress__inner {

}
table {
    margin-top: 40px;
}
#cart__body table {
    width: 80%;
}
table tr {
        border-bottom: 1px solid rgba(34, 34, 34,0.3);
        
}
table tr th {
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 6px;
}
table tr td {
    padding: 16px 0;
}
table tr th:last-child,table tr td:last-child {
    text-align: end;
}
table tr td:nth-child(2){
    text-align: center;
}
.cart__item .cart__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(115, 115, 215, 1);
}
.cart__item .cart__item__desc{
    margin-left: 16px;
    line-height: 1.4;
}
.cart__item__desc p:first-child {
    font-size: 16px;
    font-weight: 500;
}
.cart__item__desc p {
    font-size: 14px;
    font-weight: 400;
}
table .counter__container {
    height: 40px;
    display: flex;
    margin: auto;
    align-items: center;
    background: transparent;
    justify-content: center;
    border: 1px solid 
    rgba(34, 34, 34, 0.3);
}
.counter__container button {
    border: none;
    flex-grow: 1;
    background: transparent;
    height: 100%;
}
.cart__item p:last-child {
    margin: 0;
    color: #7373D7;
    border-bottom:1px solid #7373D7;
    width: 22%;
}
#cart__body > p {
    color: #7373D7;
    font-size: 14px;
}

.mainSection {
    height: auto;
    align-items: center;
}
.mainSection #order__payment {
    width: 80%;
    padding: 21px 0;
    align-items: flex-start;
    justify-content: space-between;
}

#order__payment .order__notes {
    flex-grow: 2;
    flex-basis: 0;
}
.order__notes textarea {
    width: 80%;
    height: 180px;
    padding: 16px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    resize: none;
    outline: none;
}
#order__payment .order__money {
    flex-grow: 1;
    flex-basis: 0;
}
.order__money div{
    justify-content: space-between;

}
.order__total  p,.total__money p {
    font-size: 16px;
    font-weight: 600;
}
.auto__discount p {
    color: #7373D7;
}
.order__money button {
    width: 100%;
    height: 53px;
    border: none;
    background: #7373D7;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

@media(max-width:578px){
    .mainSection #order__payment {
        flex-direction: column;
        width: 100%;
    }
    #order__payment .order__notes, #order__payment .order__money {
        width: 100%;
    }
    #cart__body table {
        width: 100%;
    }
    table tr:first-child{
        display: none;
    }
    .order__notes textarea {
        width: 100%;
    }
    .order__money {
        line-height: 2;
    }
    #cart__body .cart__progress {
        width: 80%;
    }
}